{% extends "index/base.html"%}
{% load static %}
{% load crispy_forms_tags %}


    
{% block body %}

{% include 'index/header.html '%}

<section class="my-1">
   <div class="container" id="inner_nav">
      <a href="{% url 'index:index' %}">Home</a>
      <a href="javascript:void(0);">/</a>
      <a href="#">Album</a>


      <div style="float:right;">
         <a id="display_category" 
            onclick="display_category();" 
            href="javascript:void(0);">
              <img src="{% static 'img/cat.png' %}" height="20">
          </a>
          <a id="hide_category" 
             href="javascript:void(0);" 
             onclick="hide_category();">
              <img src="{% static 'img/cat2.png' %}" height="20">
           </a>
      </div>
    
   </div><hr>
</section>


<!--<section class="my-2" id="brand_desktop_view">
    {% include 'music/album.html'%}
</section>-->

<section class="my-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-2" id="main_category">
				<div id="music_category">
					 {% include 'music/category.html' %}
				</div>
			</div>

			<div class="col-sm-12 col-lg-10">
				<section>

					<div>
						<h1 class="">Album list</h1>
					</div>

				    <div class="row">
				    	 {% for album in album %}
				    	    <div class="col-sm-12 col-lg-3">
				    	    	<div class="my-2">
                      <p style="color:orange;"><strong>{{album}}</strong></p>
				    	    		<a href="{% url 'music:album_list_detail' album.slug %}">
                          <img src="{{album.file.url}}" class="d-block w-100 rounded-top">       
                      </a> 
				    	    	</div>

				    	    </div>
				    	 {% empty %}
				    	     <div class="col-sm-12">
                                {% include 'index/error.html' %}
                             </div>
				    	 {% endfor %}
				    </div>
<!--______________________________pagination_______________________________-->
                            <div class="my-4">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if album.has_previous %}
                                        <a href="?page=1">&laquo;</a>
                                        <a href="?page={{ album.previous_page_number }}">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                         </a>

                                        {% endif %}

                                        <span class="current">
                                        Page {{ album.number }} of {{album.paginator.num_pages }}.
                                        </span>

                                        {% if album.has_next %}
                                        <a href="?page={{tracks.next_page_number }}">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                        <a href="?page={{album.paginator.num_pages }}">&raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
<!--___________________________________________________________________-->
				</section>
		   </div>
	</div>
</section>

{% include 'music/products.html' %}

{% include 'music/video_feed.html' %}




{% endblock %}