{% if youtubefeed %}
<section class="my-2">
   <hr>
   <div class="container">
       <h1 class="">Youtube feed</h1>
       <div  class="music_ik">
            {% for youtubefeed in youtubefeed  %}
                <div class="">
                    <div class="video-responsive my-2 mx-2 ">
                         <iframe class="rounded" width="100%" height="100%" src="{{youtubefeed.split_link}}" frameborder="0" allowfullscreen></iframe>
                   </div>
                </div>
            {% endfor %}
        </div>
         <div class="text-center my-4">
                   <a class="p-2"  id="custom_btn" href="{% url 'music:youtube_feed_list'%}">All videos</a>
          </div>
   </div>
</section>
{% endif %}