{% extends "index/base.html"%}
{% load static %}
{% load crispy_forms_tags %}


    
{% block body %}

{% include 'index/header.html '%}

<section class="my-1">
   <div class="container" id="inner_nav">
      <a href="{% url 'index:index' %}">Home</a>
      <a href="javascript:void(0);">/</a>
      <a href="{% url 'products:mainshop' %}">Products</a>
      <a href="javascript:void(0);">/</a>
      <a href="{% url 'cart:cart_view' %}">cart</a>
      <a href="javascript:void(0);">/</a>
      <a href="#">Checkout</a>
   </div><hr>
</section>

<!--__________terms & conditions notchecked error___________-->
<div id="terms_error" class="text-center p-2 my-2 alert" style="display:none;">
	
    <div class="p-3 rounded" id="inner_terms_error">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <p class="text-left"><strong  style="color:orange;">Error</strong></p><hr>
         <p style="color:red;">Please make sure terms & conditions is checked before placing order !!!</p>
    </div>
</div>
<!---------------------------------------------------------------->

<section>
	<div class="container">
		
		 <div class="row">
		 	  <div class="col-sm-12 col-lg-8" >
		 	  	   <div class="p-2 rounded mb-2" style="background-color:rgb(241,246,247);">
		 	  	   <form><!--pass---></form>
                   <form id="Billing_form">
                       {% csrf_token %}
                   {% include 'cart/billing_info.html'%}
                   {% include 'cart/shipping_info.html'%}
                   </form>

		 	  	   <div class="p-2" id="shipping_btn">
		 	           <h4 style="color:orange;"><strong>Shipping Details</strong></h4><hr>
		 	           <div class="form-check form-check-inline mx-4">
                            <input class="form-check-input" type="checkbox" id="shiping" value="shiping" onchange="shiping(this);">
                            <label class="form-check-label" for="inlineCheckbox1">Ship to a different address?</label>
                        </div>
		           </div>
		         </div>

		 	  </div>

		 	  <div class="col-sm-12 col-lg-4">
		 	  	 <div class="mb-4 p-2 rounded" style="background-color:rgb(241,246,247);">
		 	  	 	<h4 style="color:orange;"><strong>Cart Total</strong></h4><hr>
                    {% for cart in cart.cart.all %}
		 	  	 	<div class="row">
		 	  	 		 <div class="col">
		 	  	 		 	<p>{{cart}}</p>
		 	  	 		 </div>
		 	  	 		 <div class="col">
		 	  	 		 	 <p>{{cart.item.price}}</p>
		 	  	 		 </div>
		 	  	 	</div>
		 	  	 	{% endfor %}

		 	  	 	<div class="row">
		 	  	 		 <div class="col">
		 	  	 		 	<h4><strong>Total</strong></h4>
		 	  	 		 </div>
		 	  	 		 <div class="col">
		 	  	 		 	 <h4><strong>{{cart.get_total}}</strong></h4>
		 	  	 		 </div>
		 	  	 	</div>
		 	  	 
		 	  	 </div>

		 	  	 <div class="p-2 rounded" style="background-color:rgb(241,246,247);">
		 	  	 	<h4>Payment Method</h4><hr>
		 	  	 	<div class="mx-4">
		 	  	 		{% include 'cart/chechbox.html'%}
		 	  	 	</div>
		 	  	 </div>

		 	  	 <div class="py-2 mt-4">
		 	  	 	 <button class="p-2" onclick="payment('{{cart.id}}');" style="width:100%;" id="custom_cart_btn" id="">Place order</button>
		 	  	 </div>
		 	  </div>
		 </div>

	</div>
</section>



{% endblock %}