<section class="mb-4">
    <div class="container">
       <div class="table-responsive">
        <table class="table table-striped">
            <thead style="background-color:red;color:white;">
               <th></th>
               <th>ITEM</th>
               <th>QT</th>
               <th>PRICE</th>
               <th>TOTAL</th>
               <td></td>
            </thead>

            {% for item in order.cart.all %}
               <tr>
                  <td>
                    {% if item.item.file %}
                    <img src="{{item.item.file.url}}" class="mr-2" height="64">
                    {% else %}
                    <img src="{% static 'img/item.png' %}" class="mr-2" height="64">
                    {% endif %}
                  </td>
                  <td>{{item}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.item.price}}</td>
                  <td>{{item.get_final_price}}</td>
                  <td><a onclick="delete_item('{% url 'cart:remove_cart' item.id %}');" href="javascript:void(0);">dd</a></td>
               </tr>
            {% endfor %}
        </table>
        </div>
        <div class="text-right">
           <h1><strong>{{order.get_total}}</strong></h1>
        </div>

        <div class="row my-4">
            <div class="col-sm-6">
              
            </div>
            <div class="col-sm-6 text-right">
                <a id="custom_btn2" class="mr-2" href="{% url 'products:mainshop'%}">Continue shoping</a>
                <a id="custom_btn" href="#">Checkout</a>
            </div>
        </div>
    </div>
</section>