{% load static from staticfiles %}
{% load static %}
<!------------jquery js--------------------------->
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>


<!------------libaries js--------------------------->
<script type="text/javascript" src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/cropper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.js'%}"></script>
<script  src="{% static 'js/jquery.etalage.min.js' %}"></script>
<script src="{% static 'js/css3-animate-it.js' %}"></script>
<script type="text/javascript" src="{% static 'js/floating-wpp.min.js'%}"></script>

<script src="https://use.fontawesome.com/15343f38df.js"></script>
<script src="https://use.fontawesome.com/15343f38df.js"></script>
<script src="https://kit.fontawesome.com/90a5fe2509.js" crossorigin="anonymous"></script>

<!------------google js--------------------------->

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=312082092790672&autoLogAppEvents=1"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/dcb2432c33.js"></script>

<!------------custom js--------------------------->
<script src="{% static 'js/ik_carousel.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/crop.js' %}"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

