{% load static %}

{% if music_image %}
   <style type="text/css">
   	  #main_header_bg{
   	  	background:url({% static 'img/music2.jpg'%});
   	  }
   </style>
{% else %}
   <style type="text/css">
   	#main_header_bg{
   	  	background:url({% static 'img/bg-8.jpg'%});
   	  }
   </style>
{% endif %}

<section id="main_header_bg" style="background-repeat:no-repeat;background-position: center center;background-size: cover;">
	<div class="container">

	 <div id="header_contacts">
	 	<a style="color:white;" class="mr-4" href=""><i class="fa fa-phone mr-2" aria-hidden="true"></i>+(265) 99 33 444 16</a>
	 	<a style="color:white;" href=""><i class="fa fa-envelope mr-2" aria-hidden="true"></i>ikpixels.py@gmail.com</a>

	 	{% if user.is_authenticated  %}
	 	        {% if user.is_superuser  %}
                    <div style="float:right;" class="logout_menu">
                    	<a style="color:white;" href="javascript:void(0);"><i class="fa fa-user mr-2" aria-hidden="true"></i>{{request.user}}</a>
                    	<div class="logout_content p-2 rounded-bottom">
                    		<a href="{% url 'account:dashboard'%}">Dashboard</a>
                    		<a href="{% url 'account:logout_view'%}">
                    			<strong>Logout</strong>
                    		</a>
                    	</div>
                    </div>
                {% else %}
                     <div style="float:right;" class="logout_menu">
                    	<a style="color:white;" href="javascript:void(0);"><i class="fa fa-user mr-2" aria-hidden="true"></i>{{request.user}}</a>
                    	<div class="logout_content p-2 rounded-bottom">
                    		<a href="{% url 'account:customer_account'%}">Account</a>
                    		<a href="{% url 'account:logout_view'%}">
                    			<strong>Logout</strong>
                    		</a>
                    	</div>
                    </div>
                {% endif %}
        {% else %}
            <a style="float:right;color:white;" href="{% url 'account:google_login'%}"><i class="fa fa-user mr-2" aria-hidden="true"></i>Login</a>
        {% endif %}

	 	<a style="float:right;color:white;" href="{% url 'cart:cart_view' %}"><i class="fa fa-shopping-cart mr-2" aria-hidden="true">Your Cart({{cart_count}})</i><strong></strong></a>
	 </div>

	 <div class="row">
	 	 <div class="col-sm-12 mt-2 p-2 rounded" id="shop_menu">
	 	 	<a href="{% url 'index:index' %}">
	 	 		<img src="{% static 'img/logo.png' %}" width="150">
	 	 	</a>
	 	 	<a onclick="displaynav();"
	 	 	   style="float:right;" href="javascript:void(0);">
	 	 	   	<img src="{% static 'img/ikmenu.png' %}" width="60">
	 	 	   </a>
	 	 	<a id="search_btn" class="mr-3" style="float:right;color:white;" href="javascript:void(0);">
	 	 		<i class="fa fa-search" aria-hidden="true"></i>
	 	 	</a>
	 	 	
	 	 </div>

	 	 <div class="col-sm-12 p-2 rounded-bottom" id="search_menu">
	 	 	    <form method="GET">
              <input type="search"placeholder="{{search_placeholder}}" aria-label="Search" name="q">
          </form>
	 	 </div>

	 	 <div class="col-sm-12 my-2">
	 	 	 <h1 style="color:white;"><strong>{{title}}</strong></h1>
	 	 </div>

	 	 
	 </div>
</div>
</section>