{% load static from staticfiles %}
{% load static %}
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'img/fav.png'%}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/cropper.css'%}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/etalage.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
  <link rel="stylesheet" href="{% static 'css/animations.css' %}" type="text/css">
  <link rel="stylesheet" href="{%static 'css/floating-wpp.min.css'%}">
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

<link href="https://fonts.googleapis.com/css?family=Pattaya|Suranna&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Markazi+Text&family=Noto+Serif&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">


  <title>{{title}}</title>