{% extends "index/base.html"%}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}
{% include 'index/header.html '%}
<!-- <h1>Built-In Login Logout</h1> -->
<section class="my-1">
	 <div class="container" id="inner_nav">
	 	  <a href="{% url 'index:index' %}">Home</a>
	 	  <a href="javascript:void(0);">/</a>
	 	  <a href="#">Reset Password</a>
	 </div><hr>
</section>

<section class="my-4 p-2">
	<div class="container" style="padding-top:50px;padding-bottom:50px;">
		<h3>Hurray! Your password has been changed.</h3>
		<a class="p-2 my-3" id="custom_btn" href="{%url 'account:google_login'%}">Log in</a>
	</div>
</section>
{% endblock %}


