{% extends "index/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
{% include 'index/header.html '%}

<section class="my-1">
	 <div class="container" id="inner_nav">
	 	  <a href="{% url 'index:index' %}">Home</a>
	 	  <a href="javascript:void(0);">/</a>
	 	  <a href="#">Register</a>
	 </div><hr>
</section>


<section class="mt-2 my-4">
	 <div class="container">
	 	 <div class="row" style="background-color:rgb(241,246,247);">
	 	 	  <div class="col-sm-12 col-lg-6" style="background-color:orange;">
	 	 	  	  <div class="text-center p-4" >
	 	 	  	  	  <h1 style="color:white;">Already have an account?</h1>
	 	 	  	  	  <div class="mt-4">
	 	 	  	  	  	  <a class="p-3" id="custom_btn" href="{% url 'account:google_login'%}">LogIn Now</a>
	 	 	  	  	  </div>
	 	 	  	  </div>
	 	 	  </div>

	 	 	  <div class="col-sm-12 col-lg-5">
	 	 	  	  <div class='mt-4 p-4 rounded'>
	  	    		 	 	<h4 class="text-center" style="color:orange"><strong>Register</strong></h4><hr>
	  	    		 	 	<form method="POST" id="account_form">
	  	    		 	 		  {% csrf_token %}
	  	    		 	 		  {{form|crispy}}
	  	    		 	 		  <button  style="width:100%;border:none;" style="border:none;" id="custom_btn">SignUp</button>
	  	    		 	 	</form>
	  	    		</div>
	 	 	  </div>
	 	 </div>
	 </div>
</section>
{% endblock %}
