{% extends "index/base.html"%}
{% load static %}
{% load crispy_forms_tags %}


    
{% block body %}

{% include 'index/header.html '%}


<section class="my-1">
   <div class="container" id="inner_nav">
      <a href="{% url 'index:index' %}">Home</a>
      <a href="javascript:void(0);">/</a>
      <a href="{% url 'account:dashboard'%}">Myaccount</a>
      <a href="javascript:void(0);">/</a>
      <a href="#">{{title}}</a>
   </div><hr>
</section>


<section>
  <div class="container my-2">
      <div class="row p-2">
          <div class="col-sm-12 col-lg-2">
              <div class="p-2 mb-2 text-center">
                 <img src="{{item.file.url}}" class="d-block w-100 rounded">
                 <p><strong>{{item}}</strong></p>

                 {% if item.new_price %}
                  <s style="color:red;">{{item.category.currency}} {{item.price}}</s>
                  <h4 style="color:green;">{{item.category.currency}} {{item.new_price}}</h4>
                  {% else %}
                  <h4>{{item.category.currency}} {{item.price}}</h4>
                  {% endif %}
                 <hr>

                 <h4>Deal pricing</h4>
                 <h1> <span style="color:orange">MKW</span> {{deal_price.deal_price}} per day </h1>
              </div>
          </div>
          <div class="col-sm-12 col-lg-6">
              <div class="p-2">
            <h4 style="color:orange;">
              <a href="https://www.tnm.co.mw/ui/tnm-october/index.php/mpamba">
              <img src="{% static 'img/tnm.jpg' %}" class="rounded" width="30">
            </a>
            TNM Mpamba</h4>
                    <ul>
                       <li>Dial *444#</li>
                       <li>Select 1 for send money</li>
                       <li>Select 1 for TNM Mpamba</li>
                       <li>Select 1 for send to wallet then enter the phone number <strong>0{{deal_price.mpamba_money_for_deal}}</strong>.</li>
                    </ul><hr>
                    <h4 style="color:orange;">
                      <a href="https://www.tnm.co.mw/ui/tnm-october/index.php/mpamba">
                      <img src="{% static 'img/airtel.jpg' %}" class="rounded" width="30">
                       </a>
                    Airtel Money</h4>
                    <ul>
                       <li>Dial *211#</li>
                       <li>Select 2 for send money</li>
                       <li>Select 1 for Airtel Number</li>
                       <li>Select 1 for number then enter the phone number <strong>0{{deal_price.airtel_money_for_deal}}</strong>.</li>
                    </ul><hr>
                    <p><strong>Using the reference number / transaction number of the payment mediums above kindly complete the form below</strong></p>
          </div>
          </div>
          <div class="col-sm-12 col-lg-4">
              <div class="p-2" style="background-color:#f2f2f2;">
              <form id="formUpload" method="POST" 
                    enctype="multipart/form-data" id="formUpload">
                 {% csrf_token %}
                 {{ form.media }}
                 {{form|crispy}}
                 <button style="border:none;" class="p-2" id="custom_btn">Make deal</button>
              </form>
          </div>
          </div>
      </div>
  </div>
</section>


{% endblock %}